fastapi==0.115.6
greenlet==3.1.1
groq==0.13.1
uvicorn[standard]==0.34.0
pydantic-settings==2.7.1
email-validator==2.2.0
SQLAlchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
pgvector==0.3.6
python-dotenv==1.0.1
sentence-transformers==3.3.1
tiktoken==0.8.0
httpx==0.28.1
beautifulsoup4==4.12.3
